{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel='stylesheet' href='/static/css/join2.css'>
    <!--https://ko.wix.com/website/templates-->
    {% block css %}{% endblock %}
    {% block style %}{% endblock %}
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/join2.js"></script>
    <!-- 날짜 포맷함수 -->
    {% comment %} <script type="text/javascript" src="/static/js/moment.min.js"></script> {% endcomment %}
    {% block script %}

    <script>
    

    </script>

    {% endblock script %}
</head>
<body>
    <!-- 헤더 메뉴 -->
    <header class="navbar">
       <div class="logo"><a href="/">Reborn</a></div>
    </header>

    <!-- 메인 콘텐츠 영역 (푸터를 하단에 고정하기 위해 필요) -->
    <main class="content">
        {% block body %}{% endblock %}
        <main class="join-container">
            <form id="join-form" method="POST" action="{% url 'member:join2' %}">
                {% csrf_token %}
                    <div class="join-content">
                    <div class="step-indicator">
                        <span class="step">01</span>
                        <span class="step-line"></span>
                        <span class="step active">02</span>
                        <span class="step-line"></span>
                        <span class="step">03</span>
                    </div>

                    <h2 class="main-title">정보 입력</h2>
                    <p class="sub-title"><ps>Reborn</ps>에서 사용할<br>회원 정보를 입력해 주세요.</p>

                    <div class="join-form">
                        <div class="form-group">
                            <input type="text" name="mem_id" class="input-field" placeholder="사용자 ID">
                        </div>

                        <div class="form-group">
                            <input type="password" name="mem_pw" id="password" class="input-field" placeholder="비밀번호">
                            <div class="pw-guide">
                                소문자와 숫자를 조합하여 9자 이상, 특수문자가 들어가야 합니다.
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" id="password-check" class="input-field" placeholder="비밀번호 확인">
                        </div>

                        <div class="form-group">
                            <input type="text" name="mem_nm" class="input-field" placeholder="성명">
                        </div>

                        <div class="form-group">
                            <input type="text" name="nick_nm" class="input-field" placeholder="닉네임">
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" class="input-field" placeholder="이메일">
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone_number" class="input-field" placeholder="휴대폰 번호 (- 제외)">
                        </div>

                        <button type="button" class="btn-next" id="next-step-btn">다음 단계 (2/3)</button>
                    </div>
                </div>
            </form>
        </main>
    </main>
    </body>
    {% include "footer.html" %}
</html>