{% extends "base.html" %}
{% load pybo_filter %}
{% block css %}
<link rel='stylesheet' type="text/css" href="/static/css/magazine.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block script %}
<script src="/static/js/magazine.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    function loginOkBtn(){
        //alert('loginOkBtn');

        id = document.getElementById('lid').value;
        pw = document.getElementById('lpw').value;

        $.ajax({
            url:'/magazine/mlogin/',
            type:'post',
            headers:{'X-CSRFToken':'{{csrf_token}}'},
            data:{'mid':id,'mpw':pw},
            dataType:'json',
            success:function(data){
                //alert(data.result);
                if (data.result == 'success') {
                    location.href = '/magazine/mmnge/';
                }else{
                    alert('아이디 또는 비밀번호 불일치!')
                };
            },
            error:function(){
                alert('실패');
            }
        });//ajax        
    }    

</script>    

{% endblock script %}


{% block body %}

    <div id='mmcontents'>
        <ul id='mmmenu'>
            <li><a href="#"># 카테고리별 리스트</a></li>            
            <li><a href="#"># 카테고리별 전체등록 현황(차트)</a></li>
            <li><a href="#"># 연도별 전체등록 현황(차트)</a></li>            
        </ul>

        <div id='mmlogin'>
            <div id='mmlogin_popup'>
                <ul>
                    <li><i class="fa-solid fa-lock"></i> 관리자 로그인</li>
                    <li></li>
                    <li><input type='text' id='lid' placeholder='Admin ID'></li>
                    <li><input type='password' id='lpw' placeholder='Password'></li>
                    <li></li>
                    <li class='mz_right'><button type='button' onclick='loginOkBtn()'>확인</button></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock body %}