{% extends "base.html" %}

{% comment %} css 작업은 여기서 하세요!! {% endcomment %}
{% block css %}
<link rel='stylesheet' type="text/css" href="/static/css/magazine.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% comment %} script 작업은 여기서 하세요!! {% endcomment %}
{% block script %}
<script src="/static/js/magazine.js">
{% endblock script %}

{% comment %} body 작업은 여기서 하세요!! {% endcomment %}
{% block body %}

<div id='mz-body'>

    <div id='mz-header'>
        <form name='searchFrm' action='/magazine/mlist/' method='get'>
        {% csrf_token %}
        <div id='mz-header-bg'>
            <div id='mz-htitle'>
                Reborn 매거진
            </div>
            <div id='mz-hsearch'>
                <div class='mz-hsearch-box'>
                    <span class='mz-hsearch-icon'><img src='/static/images/magazine/search_icon.png'></span>
                    <input type='text' name='search' placeholder="매거진 내에서 검색해보세요."/>
                </div>
                <button class='mz-hsearch-btn' name='search-btn' onclick='searchBtn()'>검색</button>
            </div>
        </div>
        </form>
    </div>

    <div id='mz-view'>

        <div id='mz-vtitle'>
            <h1>{{mz.mtitle}}</h1>
            <ul>
                <li class='mz-vtitle-date'>{{mz.mdate|date:'Y-m-d H:i:s'}}</li>
                <li class='mz-vtitle-list'>
                    <!--
                        <a href='#' id='mz-like'>
                            <i class="fa-solid fa-heart"></i>
                            <i class="fa-regular fa-heart"></i>
                        </a>
                    -->
                </li>
            </ul>
            
        </div>

        <div id='mz-vcontent'>
        {{mz.mcontent|safe}}
        </div>

        <ul id='mz-vmove'>
            {% if pre %}
            <li><a href='/magazine/mview/{{pre.mno}}/'>← Prev</a></li>
            {% else %}
            <li>← Prev</li>
            {% endif %}

            <li><a href='/magazine/mlist/'><i class="fa-duotone fa-solid fa-bars"></i></i></a></li>

            {% if next %}
            <li><a href='/magazine/mview/{{next.mno}}/'>Next →</a></li>
            {% else %}
            <li>Next →</li>
            {% endif %}
        </ul>
    </div>


</div> <!-- mz-body -->
    
{% endblock body %}


